{%extends "templates/base.njk"%}

{%block content%}
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit voluptatem dolore</h1>
<div class="embed-infographic">
    <div class="fuse-byline center">
        <address>BY <a href="mailto:jcharles@miamiherald.com">Jacqueline Charles</a></address>
        <time>Nov. 13, 2018</time>
    </div>
    <div class="support-box">
        <img src="https://pulitzercenter.org/sites/all/themes/pulitzer2016/logo.svg" alt="pulitzer center logo">
        <p><i>This article is part of the “Cancer in Haiti” series and was produced in partnership with the <a href="https://pulitzercenter.org/" target="_black" rel="noopener">Pulitzer Center on Crisis Reporting</a>.</i></p>
    </div>
</div>
<p>MIREBALAIS, Haiti</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sint unde esse, quo officia veniam quae vero cum
    aspernatur nemo nobis natus dolore nostrum eos neque laudantium minima sequi accusamus.</p>
<p>Voluptatum voluptatem dolore id libero, earum consequatur quae architecto soluta, neque exercitationem nisi
    excepturi eum dignissimos quam fugit cum. Delectus itaque recusandae possimus est ea asperiores aliquid accusamus
    minima unde.</p>
<p>Minus culpa ea laborum esse sapiente fugiat qui nam cupiditate quam, exercitationem laudantium, ex aliquam itaque
    veniam illo dignissimos dolorum dolore asperiores cum blanditiis eius? Magnam nisi quaerat praesentium tenetur?</p>
<p>Facere ea architecto nulla voluptas laborum rem enim id voluptatibus, laboriosam sed! Maiores reiciendis velit
    dolore dolorum, accusantium porro eius aperiam officia molestias, blanditiis consequuntur architecto? Corporis
    numquam atque ratione.</p>
<p>Possimus quia, nostrum fugiat sapiente, maiores adipisci illo beatae velit a obcaecati, minima voluptates
    exercitationem aliquid illum facere voluptatum non. Vel fugit officia similique aliquid voluptas ipsum beatae,
    asperiores explicabo.</p>
<p>Cumque perspiciatis aut commodi. Dignissimos minus est autem praesentium nostrum suscipit reiciendis in unde, nulla
    tempora quae asperiores voluptas? Nisi deleniti animi doloribus corrupti? Sint itaque provident cupiditate esse a.</p>
<p>Amet illum sint recusandae commodi libero atque. Labore, iure exercitationem. Doloremque minus provident, molestiae
    aperiam ipsa officiis totam sint labore omnis porro, cumque, inventore iusto perspiciatis quia voluptatibus.
    Veniam, eius.</p>
<p>Molestias soluta unde mollitia quod inventore consequatur impedit! Harum repellat nam praesentium quis iste, autem
    iure. Laboriosam, modi debitis? Nulla amet quidem laudantium, repellat aperiam itaque magnam quia! Modi, nisi?</p>
<p>Rem autem repudiandae officiis laborum dignissimos deleniti rerum at ea, aliquid quasi veniam suscipit quaerat qui
    asperiores ipsam repellendus porro consequatur possimus culpa! Dolorum consequuntur nesciunt, architecto corrupti
    voluptate culpa.</p>
<p>Labore atque aperiam sequi! Aliquam a veritatis harum modi neque aut accusamus in nesciunt, illum consequuntur!
    Reprehenderit, veritatis saepe similique debitis numquam ullam, porro eos odio molestias voluptatem neque libero?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure accusamus sit ut necessitatibus sint sequi, quam aut
    modi, magni, quis ducimus velit explicabo suscipit magnam architecto molestias? Quibusdam, quam obcaecati?</p>
<p>Magnam animi dignissimos corrupti odio molestiae voluptate, eos dolorum assumenda, voluptatum unde tempora impedit
    praesentium cumque hic blanditiis veniam! Necessitatibus consectetur unde nostrum tempora laborum consequuntur
    ullam eos natus nemo.</p>
<p>Debitis, earum. Aliquid nulla nihil excepturi ut id autem, asperiores, dolor blanditiis suscipit optio perspiciatis,
    quaerat earum illum reprehenderit. Mollitia laborum sint harum est animi fugiat aut, eveniet culpa magni?</p>
<p>Deserunt sequi esse tempore eligendi dolores enim at pariatur sed odit, ducimus temporibus mollitia architecto
    minima voluptas nihil modi deleniti magnam beatae labore, cum et incidunt? Fuga molestias illo neque.</p>
<p>Dicta impedit non iste, culpa deserunt molestias ea dignissimos modi, quod, illo est cumque aperiam unde fuga
    debitis sed quia. Magni, perferendis soluta. Iusto earum odio officiis cupiditate nam! Maiores?</p>
<p>Repellat libero sapiente alias dicta accusamus numquam minima ex, totam quam ipsam voluptas dolorum animi excepturi
    itaque atque labore, ducimus, omnis doloribus! Dignissimos ipsum alias quae rem, beatae minima aspernatur!</p>
<div class="embed-infographic">
    {% include "embed.njk" %}
</div>
{%endblock%}