{%extends "templates/immersive-base.njk"%} {%block content%}
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nostrum
  quidem, quaerat officia veniam deserunt cupiditate odit molestiae omnis, iste
  fuga eveniet dolorem optio perspiciatis recusandae consequatur consequuntur?
  Reprehenderit, consectetur.
</p>
<p>
  Corporis explicabo dignissimos fuga qui, tempora nisi, magni tempore
  voluptatum consequuntur possimus quam necessitatibus, dolore suscipit culpa
  eius nihil tenetur assumenda esse animi ipsam aliquam fugit officiis est
  corrupti! Aliquam.
</p>
<div class="embed-infographic" style="max-width: 750px;">
  <script src="https://unpkg.com/@nprapps/sidechain"></script>
  <side-chain
    src="https://media.miamiherald.com/static/media/projects/2019/pge-outages/index.html?loc=sac"
  ></side-chain>
</div>
<p>
  Tempora, nihil ipsum fugit fugiat officiis officia nam! Quaerat blanditiis
  quis neque perspiciatis porro doloremque aut autem nihil dolorum aperiam
  aliquid, perferendis exercitationem libero saepe ex molestiae maiores. Rem,
  nam!
</p>
<p>
  Tempora quis repellat maiores, harum ab repellendus consequatur provident
  facere necessitatibus mollitia non minus. Ipsum laboriosam odit dolor, quia
  unde optio nam eum nihil, ut quaerat sit, voluptsate vel quidem!
</p>
<p></p>
<div class="embed-infographic">
  {% include "embed.njk" %}
</div>
<p></p>
{%endblock%}
