# Node and Parcel
node_modules
.cache

# Project files
.vscode
.tmp
dist
build
src/assets
src/html/templates/sinclair-base.njk
src/html/templates/immersive-base.njk
src/html/global.json

# Auth credentials
drive.json
.env


