/**
 * Fuse: Default Skin
 */

$vertical-space: 25px;
$horizontal-space: 15px;
$align-width: 700px;

#masthead-container, .masthead {
	margin-bottom: 0;
}

#leaderboard-ad {
	margin: 0;
	padding: 0;

  .ad-widget:not(:empty) {
    margin: $vertical-space auto;
  }
}

.container[role=main] {
  width: 100%;
  padding: 0;

	.row {
		margin: 0;
	}

	[class^=col-] {
		padding: 0;
	}
}

.content-body {
  color: #222;

  // Required MI overloads
  ul {
    margin: $vertical-space auto;
    padding-left: calc(15px + 1.2em);
  }

	ol {
    padding-left: calc(15px + 1.4em);
	}

  // Default skin specials
  > * {
    margin: $vertical-space auto;
    padding: 0 $horizontal-space;
    max-width: $align-width;
  }

  > p:empty, br + br {
    display: none;
  }
	
  h1 {
		margin: 45px auto;
    font: 10vw/1.1em "McClatchy Serif", "McClatchy Slab", serif;
    text-align: center;
  }

	h2 {
		font-size: 27px;
	}

  h1 + h2 {
    text-align: center;
    font: 20px/1.2em "McClatchy Sans", sans-serif;
    margin: -20px auto 45px;
  }

	h3 {
		font-size: 22px;
	}

	p {
		font-size: 19px;
		line-height: 1.5em;
	}

  p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin-top: $vertical-space * 2;
  }

  @media (min-width: 700px) {
    h1 {
      font-size: 60px;
    }

    h1 + h2 {
      font-size: 22px;
    }
  }

  figure img {
    display: block;
    max-width: 100%;
  }

	// Video
	.inline-video {
		max-width: 100%;
		padding: 0;
		margin: 0 auto;

		.embed-media-details {
			padding: 9px $horizontal-space 3px;
		}
	}

	// Photos
	.photo-inline-horizontal {
		max-width: 1140px;
		padding: 0;

		.inline-caption {
			padding: 0 $horizontal-space;

			@media (min-width: 1170px) {
				padding-left: 0;
			}
		}
	}

	.photo-inline-vertical {
		padding: 0;

		.inline-caption {
			padding: 3px $horizontal-space;
		}

		@media (min-width: 730px) {
			.inline-caption {
				padding-left: 0;
			}
		}
	}

	.mugshot {
		padding: 0;
		margin: 0 $vertical-space 0 $horizontal-space;
		max-width: 175px;
		float: left;

		@media (min-width: 768px) {
			margin-left: 5%;
			max-width: 250px;
		}
	}

  // Related content
  .story-readmorelink {
    margin: 10px auto !important;
    border-left: none !important;

    article {
      display: flex !important;

      > a {
        display: block;
        width: 20%;
      }

      .picture {
        margin: 0 !important;
        width: 100% !important;

        picture {
          display: block;
        }
      }

      .title {
        padding: 0 10px !important;
        margin: 0 !important;
        flex: 1;
        max-width: 450px;
      }
    }
    
    + p:empty + p + .story-readmorelink {
      .heading {
        display: none !important;
      }
    }
  }

  // Blockquote
  blockquote {
    position: relative;
    border: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    max-width: 500px !important;
    margin: $vertical-space * 1.5 auto;
    padding: $vertical-space * 1.5 $horizontal-space $vertical-space !important;
    font: 400 21px/1.6em "McClatchy Slab", serif;

    &:before {
      content: '\201C';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: 75px;
      height: 32px;
      color: #999;
      text-align: center;
      font: 80px/1em "McClatchy Serif", serif;
    }

    &:after {
      content: '\2014 ' attr(cite);
      display: block;
      text-align: right;
      font: 14px "McClatchy Sans", sans-serif;
      margin-top: 1em;
    }
  }

  // Byline
  address {
    font: 14px "McClatchy Sans Cond", sans-serif;

    span {
      display: block;
    }

    .ng_byline_name {
      font-weight: 600;
    }

    .ng_byline_email {
      font-style: italic;
    }
  }

  // Generic embed
  .embed-infographic {
    max-width: 100%;
    padding: 0;
    
    > * {
      max-width: $align-width;
      margin: 0 auto;
      padding: 0 $horizontal-space;
    }
  }

	// Galleries
	[id^="inlinegallery"] {
		max-width: 768px;
	}

  // Facebook comments
  .fb-comments {
    display: block;
    max-width: $align-width;
    margin: 0 auto;
  }

  // <hammer-head>
  hammer-head > * {
    margin: 0;
    font-weight: 400;
  }

  // Lead media that's the first item
  > p:empty:first-child {
    + .photo-inline-horizontal {
      max-width: 100%;
      margin-top: 0;

      .inline-caption {
        padding: 0 $horizontal_space;
      }
    }

    + .inline-video {
      margin-top: 0;
    }
  }
}