#masthead-container, #footer {
  margin-bottom: 0;
  background-color: #000;
}

#main-nav .navbar-toggle {
  background-color: #4b4b4b;
}

#leaderboard-ad {
  margin: 0;
  padding: 0;
}
#leaderboard-ad .ad-widget:not(:empty) {
  margin: 25px auto;
}
.container[role='main'] {
  width: 100%;
  padding: 0;
}
.container[role='main'] .row {
  margin: 0;
}
.container[role='main'] [class^='col-'] {
  padding: 0;
}
.content-body {
  color: #222;
}
.content-body ul {
  margin: 25px auto;
  padding-left: calc(15px + 1.2em);
}
.content-body ol {
  padding-left: calc(15px + 1.4em);
}
.content-body > section p {
  margin: 25px auto;
  padding: 0 15px;
  max-width: 700px;
}
.content-body > p:empty,
.content-body br + br {
  display: none;
}
.content-body h1 {
  margin: 45px auto;
  font: 10vw/1em 'McClatchy Slab', 'McClatchy Slab';
  text-align: center;
} 
.content-body h2 {
  font-size: 27px;
}
.content-body h1 + h2 {
  text-align: center;
  font: 20px/1em 'McClatchy Sans';
  margin: -35px auto 45px;
}
.content-body h3 {
  font-size: 22px;
}
.content-body p {
  font-size: 20px;
  line-height: 1.5em;
}
.content-body p + h2,
.content-body p + h3,
.content-body p + h4,
.content-body p + h5,
.content-body p + h6 {
  margin-top: 50px;
}
@media (min-width: 700px) {
  .content-body h1 {
    font-size: 60px;
  }
  .content-body h1 + h2 {
    font-size: 22px;
  }
}
.content-body .inline-video {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}
.content-body .inline-video .media-leadtext {
  padding: 3px 15px;
}
.content-body .photo-inline-horizontal {
  max-width: 1140px;
  padding: 0;
}
.content-body .photo-inline-horizontal .inline-caption {
  padding: 0 15px;
}
@media (min-width: 1170px) {
  .content-body .photo-inline-horizontal .inline-caption {
    padding-left: 0;
  }
}
.content-body .photo-inline-vertical {
  padding: 0;
}
.content-body .photo-inline-vertical .inline-caption {
  padding: 3px 15px;
}
@media (min-width: 730px) {
  .content-body .photo-inline-vertical .inline-caption {
    padding-left: 0;
  }
}
.content-body .mugshot {
  padding: 0;
  margin: 0 25px 0 15px;
  max-width: 175px;
  float: left;
}
@media (min-width: 768px) {
  .content-body .mugshot {
    margin-left: 5%;
    max-width: 250px;
  }
}
.content-body .story-readmorelink {
  margin: 0 auto !important;
  padding: 0 15px !important;
  border-left: none !important;
}
.content-body .story-readmorelink article {
  display: flex !important;
  background-color: #fafafa;
  border: 1px solid #ddd !important;
  align-items: center;
}
.content-body .story-readmorelink article > a {
  width: 135px;
  display: flex;
  background-color: #ddd;
  align-self: stretch;
}
.content-body .story-readmorelink article > a .image-placeholder {
  width: auto !important;
  margin: 0 !important;
  position: relative;
}
.content-body .story-readmorelink article > a .picture {
  display: flex;
  position: relative;
  flex: 1;
  padding-top: 56.25% !important;
  float: none !important;
  width: auto !important;
  margin: 0 !important;
}
.content-body .story-readmorelink article > a .picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}
.content-body .story-readmorelink article .title {
  flex: 1;
  margin: 0 !important;
  padding: 10px !important;
}
.content-body .story-readmorelink article .title a {
  display: block;
  font: 400 18px/1.4em 'McClatchy Serif' !important;
}
@media (max-width: 500px) {
  .content-body .story-readmorelink article {
    flex-direction: column;
  }
  .content-body .story-readmorelink article > a {
    width: auto;
  }
  .content-body .story-readmorelink article .title a {
    padding: 6px 0 0;
  }
}
.content-body .story-readmorelink + p:empty + p:empty + .story-readmorelink {
  margin-top: 10px !important;
}
.content-body
  .story-readmorelink
  + p:empty
  + p:empty
  + .story-readmorelink
  > .heading {
  display: none;
}
.content-body .embed-infographic {
  max-width: 100%;
  padding: 0;
}
.content-body .embed-infographic > * {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}
.content-body .embed-infographic blockquote {
  position: relative;
  border: none;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  max-width: 500px;
  margin: 37.5px auto;
  padding: 37.5px 15px 25px !important;
  font: 400 21px/1.6em 'McClatchy Slab';
}
.content-body .embed-infographic blockquote:before {
  content: '“';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75px;
  height: 32px;
  color: #999;
  text-align: center;
  font: 80px/1em 'McClatchy Serif';
}
.content-body .embed-infographic blockquote:after {
  content: '—' attr(cite);
  display: block;
  text-align: right;
  font: 14px 'McClatchy Sans';
  margin-top: 1em;
}
.content-body .embed-infographic address {
  font: 14px 'McClatchy Sans Cond';
}
.content-body .embed-infographic address span {
  display: block;
}
.content-body .embed-infographic address .ng_byline_name {
  font-weight: 600;
}
.content-body .embed-infographic address .ng_byline_email {
  font-style: italic;
}
.content-body [id^='inlinegallery'] {
  max-width: 768px;
}
.content-body .fb-comments {
  display: block;
  max-width: 700px;
  margin: 0 auto;
}
.content-body hammer-head > * {
  margin: 0;
  font-weight: 400;
}
