<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="https://www.miamiherald.com/wps/source/images/miamiherald/windowsmetro-144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.miamiherald.com/wps/source/images/miamiherald/apple-touch-icon-144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.miamiherald.com/wps/source/images/miamiherald/apple-touch-icon-114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.miamiherald.com/wps/source/images/miamiherald/apple-touch-icon-72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.miamiherald.com/wps/source/images/miamiherald/apple-touch-icon-57-precomposed.png"
    />
    <link
      rel="shortcut icon"
      href="https://www.miamiherald.com/wps/source/images/miamiherald/favicon.png"
    />
    <meta name="robots" content="noindex" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="miamiherald" />
    <meta
      name="twitter:title"
      content="Haiti’s 2010 earthquake killed hundreds of thousands. Here’s why the next one could be worse"
    />
    <meta property="og:site_name" content="miamiherald" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="Haiti’s 2010 earthquake killed hundreds of thousands. Here’s why the next one could be worse"
    />
    <meta
      property="og:url"
      content="https://www.miamiherald.com/news/nation-world/world/americas/haiti/article239003673.html"
    />
    <meta
      property="og:description"
      content="After its Jan. 12, 2010, earthquake left hundreds of thousands dead, Haiti has made considerable progress in understanding its vulnerability. But the advances, says its top expert, geologist Claude Prépetit, fall short."
    />
    <meta
      name="twitter:description"
      content="After its Jan. 12, 2010, earthquake left hundreds of thousands dead, Haiti has made considerable progress in understanding its vulnerability. But the advances, says its top expert, geologist Claude Prépetit, fall short."
    />
    <meta
      property="og:image"
      content="https://www.miamiherald.com/wps/source/images/miamiherald/facebook.jpg"
    />
    <meta
      name="twitter:image"
      content="https://www.miamiherald.com/wps/source/images/miamiherald/facebook.jpg"
    />
    <meta property="fb:app_id" content="133847067760" />
    <meta
      name="title"
      content="Haiti’s advances since its 2010 earthquake may not be enough | Miami Herald"
    />
    <meta name="allow-comments" content="true" />
    <meta
      name="description"
      content="After its Jan. 12, 2010, earthquake left hundreds of thousands dead, Haiti has made considerable progress in understanding its vulnerability. But the advances, says its top expert, geologist Claude Prépetit, fall short."
    />
    <meta
      name="keywords"
      content="Haiti, earthquake, anniversary, jan. 12, 2010, United Nations, seismic, building codes, Claude Prepetit, preparation"
    />
    <meta
      name="news_keywords"
      content="Haiti, earthquake, anniversary, jan. 12, 2010, United Nations, seismic, building codes, Claude Prepetit, preparation"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="googlebot" content="noodp, noarchive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="" />
    <meta name="original-source" content="" />
    <meta
      name="google-site-verification"
      content="CGBP3Njv1HyxLF1VInLHOprjcfJXffMVe5Udr0HQf-U"
    />
    <meta
      name="apple-itunes-app"
      content="app-id=366466705, affiliate-data=at=1010lHsN&amp;ct=SmartAppBannerMIA, app-argument=https://www.miamiherald.com/news/nation-world/world/americas/haiti/article239003673.html?appNav=smartBanner"
    />
    <meta property="article:opinion" content="false" />

    <title>{{ title }}</title>

    <meta
      name="msapplication-TileImage"
      content="https://miamiherald.com/wps/build/images/miamiherald/windowsmetro-144.png"
    />

    <meta property="fb:pages" content="38925837299" />
    <meta property="fb:pages" content="1340134982725916" />
    <meta property="fb:pages" content="548924038612223" />
    <meta property="fb:pages" content="15440589699" />

    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://miamiherald.com/wps/build/images/miamiherald/apple-touch-icon-144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://miamiherald.com/wps/build/images/miamiherald/apple-touch-icon-114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://miamiherald.com/wps/build/images/miamiherald/apple-touch-icon-72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://miamiherald.com/wps/build/images/miamiherald/apple-touch-icon-57-precomposed.png"
    />
    <link
      rel="shortcut icon"
      href="https://miamiherald.com/wps/build/images/miamiherald/favicon.png"
    />

    <script>
      window.pageInfo = {
        videoLead: 'false',
        'access.tags': '',
        'accuweather.apiKey': '2ce96fe9da724185a27db1e6a3ecf580',
        'accuweather.dev': 'false',
        'accuweather.locationKey': '347936',
        'accuweather.locationString': 'Miami',
        'accuweather.partnerCode': 'MCCLATCHY',
        'amp.connatixPlayerId': '955a69a1-e108-4c01-a10b-014a24812758',
        'classads.apartmentsUrl': 'http://www.apartments.com/Florida/Miami',
        'classads.carsUrl': 'http://www.cars.com/?aff=miami',
        'classads.homefinderUrl': 'http://www.homefinder.com/FL/Miami',
        connatixPlayerId: '81fcc3f5-afe2-4cd3-8589-385c8820f46e',
        durationMedia: '1205',
        enableYozonsPrebid: 'true',
        'facebook.app.id': '133847067760',
        'financialContent.account': 'miamiherald',
        'findnsave.tracking': 'findnsave',
        'keywee.siteId': '752',
        'legacy.affiliateId': 'mi000150',
        'legacy.siteName': 'herald',
        'marketInfo.CarsAFF': 'herald',
        'marketInfo.CarsSEO': '',
        'marketInfo.JobsQSCTY': 'Miami',
        'marketInfo.JobsQSSTS': 'FL,US',
        'marketInfo.JobsSEO': '',
        'marketInfo.JobsSiteID': 'cbcb_mh',
        'marketInfo.Jobslr': 'CBCB_MH',
        'marketInfo.LiveConnectTag': 'a-01e9',
        'marketInfo.addcities': 'Hollywood, Fort Lauderdale, West Palm Beach',
        'marketInfo.adretargeting.kill_list': '[&quot;simpli.fi&quot;]',
        'marketInfo.allow_ads': 'true',
        'marketInfo.allow_nativo': 'true',
        'marketInfo.careerbuilder.dmc_code': 'mia',
        'marketInfo.careerbuilder.dmc_id': '1048',
        'marketInfo.careerbuilder.lr': 'CBCB_MH',
        'marketInfo.careerbuilder.mxjobsrchcriteria_rawwords': 'outside+sales',
        'marketInfo.careerbuilder.s_freshness': '30',
        'marketInfo.careerbuilder.s_rawwords': 'CustomField3:MIAMITJ',
        'marketInfo.city': 'Miami',
        'marketInfo.classads.apartmentsUrl':
          'http://www.apartments.com/Florida/Miami',
        'marketInfo.clipped_taxonomy': 'News/World',
        'marketInfo.code': 'MIA',
        'marketInfo.county': 'Miami-Dade County',
        'marketInfo.domain': 'miamiherald',
        'marketInfo.followLinks': '0',
        'marketInfo.kill_dealsaver': 'true',
        'marketInfo.klangooId': '351',
        'marketInfo.location': 'Miami',
        'marketInfo.logoAltText': 'Miami Herald',
        'marketInfo.market_identifier': 'MIA.site_miamiherald',
        'marketInfo.name': 'Miami Herald',
        'marketInfo.networkid': '7675',
        'marketInfo.phone': '1 (800) THE HERALD (1-800-843-4372)',
        'marketInfo.product': 'site',
        'marketInfo.pushlyDomainKey': 'i3Lbw22RAiab6gac8t22RNFH0j86Bu249wAU',
        'marketInfo.region': 'South Florida',
        'marketInfo.shortURL': 'front',
        'marketInfo.siteId': '56',
        'marketInfo.sourcelevel': 'haiti',
        'marketInfo.state': 'Florida',
        'marketInfo.state_abbreviation': 'FL',
        'marketInfo.staticDirectory': 'miamiherald',
        'marketInfo.street_address': '3511 NW 91 Ave., Miami, FL 33172',
        'marketInfo.taxonomy': 'News/World///',
        'marketInfo.webmaster_email': 'webmaster@miamiherald.com',
        'nativo.story.placements': '840170,776813,844318',
        'nativo.video.placements': '869316,869315',
        'olive.localBrand': '',
        'publication.domain': 'MiamiHerald.com',
        'publication.mediadomain': 'media.miamiherald.com',
        'wishabi.bodyId': '861',
        'wishabi.navId': '1058',
        'wufoo.formID': '',
        'marketInfo.pagelevel': 'story',
        'marketInfo.viewsizes': [
          { 'Extra-Small': [0, 0] },
          { Large: [1200, 600] },
          { Medium: [992, 300] },
          { Small: [768, 300] },
        ],
        'marketInfo.adsizes': {
          outofpage: {},
          wallpaper: { '1600x600': [1600, 600], None: [] },
          floorboard: { '285x70': [285, 70], None: [] },
          default: {
            '120x20': [120, 20],
            '120x240': [120, 240],
            '120x600': [120, 600],
            '146x60': [146, 60],
            '160x600': [160, 600],
            '160x90': [160, 90],
            '168x28': [168, 28],
            '180x150': [180, 150],
            '216x36': [216, 36],
            '234x60': [234, 60],
            '240x400': [240, 400],
            '300x100': [300, 100],
            '300x250': [300, 250],
            '300x50': [300, 50],
            '300x600': [300, 600],
            '300x75': [300, 75],
            '320x450': [320, 450],
            '320x50': [320, 50],
            '336x280': [336, 280],
            '468x60': [468, 60],
            '500x300': [500, 300],
            '600x250': [600, 250],
            '728x90': [728, 90],
            '960x30': [960, 30],
            '970x90': [970, 90],
            'Billboard Flex': [
              [960, 30],
              [970, 90],
              [728, 90],
              [970, 250],
            ],
            'Billboard Flex2': [
              [970, 90],
              [970, 250],
            ],
            'Billboard Flex3': [
              [970, 90],
              [970, 250],
              [728, 90],
            ],
            'Flex Ad': [
              [300, 250],
              [300, 600],
            ],
            None: [],
            'Rising Star': [500, 300],
            'Welcome Ad': [
              [300, 250],
              [300, 600],
              [550, 480],
              [600, 500],
            ],
          },
        },
      };
    </script>
  <link rel="shortcut icon" type="image/png" sizes="196x196" href="https://miamiherald.com/wps/build/images/miamiherald/favicon-196.png"><link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link
      href="https://www.miamiherald.com/wps/build/webpack/css/mi-styles.b3d0cd18c761047c5415.css"
      rel="stylesheet"
      type="text/css"
    />

   
    <script
      type="text/javascript"
      src="https://miamiherald.com/wps/source/scripts/libs/jquery-3.4.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://miamiherald.com/wps/source/scripts/libs/jquery-migrate-prod-3.1.0.js"
    ></script>

    <meta name="parsely-metadata" content='{"article_id": "239003673"}' />
  </head>
  <body class="story wps-body-main paywalled saratoga">
    <section id="flag" class="flag grid paper full-bleed standard" role="banner">
      <div class="flex icons" role="menu">
        <button id="sectionsmenu" class="flex" aria-haspopup="true" role="menuitem">
            <svg viewBox="0 0 448 512"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
            <span class="h5 icon-label d-desktop">SECTIONS</span>
        </button><a href="#primary-content" class="flex tabkey-reveal" tabindex="1">
                <span class="button impact">Skip to Content</span>
            </a><a href="https://www.miamiherald.com/e-edition/today" class="d-tablet" aria-label="eEdition" role="menuitem">
            <svg viewBox="0 0 576 512" aria-hidden="true"><path d="M552 64H112c-20.858 0-38.643 13.377-45.248 32H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h496c13.255 0 24-10.745 24-24V88c0-13.255-10.745-24-24-24zM48 392V144h16v248c0 4.411-3.589 8-8 8s-8-3.589-8-8zm480 8H111.422c.374-2.614.578-5.283.578-8V112h416v288zM172 280h136c6.627 0 12-5.373 12-12v-96c0-6.627-5.373-12-12-12H172c-6.627 0-12 5.373-12 12v96c0 6.627 5.373 12 12 12zm28-80h80v40h-80v-40zm-40 140v-24c0-6.627 5.373-12 12-12h136c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H172c-6.627 0-12-5.373-12-12zm192 0v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0-144v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0 72v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12z"></path></svg>
        </a>
        <a href="#" class="d-tablet" aria-label="Weather" role="menuitem">
            <svg viewBox="0 0 640 512"><path d="M575.2 325.7c.2-1.9.8-3.7.8-5.6 0-35.3-28.7-64-64-64-12.6 0-24.2 3.8-34.1 10-17.6-38.8-56.5-66-101.9-66-61.8 0-112 50.1-112 112 0 3 .7 5.8.9 8.7-49.6 3.7-88.9 44.7-88.9 95.3 0 53 43 96 96 96h272c53 0 96-43 96-96 0-42.1-27.2-77.4-64.8-90.4zm-430.4-22.6c-43.7-43.7-43.7-114.7 0-158.3 43.7-43.7 114.7-43.7 158.4 0 9.7 9.7 16.9 20.9 22.3 32.7 9.8-3.7 20.1-6 30.7-7.5L386 81.1c4-11.9-7.3-23.1-19.2-19.2L279 91.2 237.5 8.4C232-2.8 216-2.8 210.4 8.4L169 91.2 81.1 61.9C69.3 58 58 69.3 61.9 81.1l29.3 87.8-82.8 41.5c-11.2 5.6-11.2 21.5 0 27.1l82.8 41.4-29.3 87.8c-4 11.9 7.3 23.1 19.2 19.2l76.1-25.3c6.1-12.4 14-23.7 23.6-33.5-13.1-5.4-25.4-13.4-36-24zm-4.8-79.2c0 40.8 29.3 74.8 67.9 82.3 8-4.7 16.3-8.8 25.2-11.7 5.4-44.3 31-82.5 67.4-105C287.3 160.4 258 140 224 140c-46.3 0-84 37.6-84 83.9z"></path></svg>
        </a>
        <a href="#" id="search-icon" title="Search">
            <svg class="d-desktop" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
        </a>
        </div>
      <a href="https://www.miamiherald.com" class="market-logo" aria-label="Miami Herald">
        <img src="https://miamiherald.com/wps/build/images/miamiherald/logo.svg" alt="Miami Herald Logo" loading="lazy">
    </a>
    </section>
    <section class="paper full-bleed" id="main-content" role="main">
      <div class="story-template">
        <article class="story-body" id="primary-content" tabindex="0">
          <header class="header">
            <h2 class="caps kicker-id h6">
              <a
                class="kicker"
                href="https://www.miamiherald.com/news/coronavirus"
              >
                Coronavirus
              </a>
            </h2>

            <h3 class="h1">
              Tracking COVID-19 vaccincations in Florida. Find an appointment today
            </h3>

            <div class="bio">
              <div>
                <div>
                  <p class="byline">
                    <a href="mailto:mmarchante@miamiherald.com">
                      By Michelle Marchante</a
                    >
                  </p>
                </div>
                <div>
                  <time id="publish_date" class="publish-date"
                    >March 25, 2020 11:42 AM<span></span
                  ></time>
                  <time
                    id="update_date"
                    class="update-date"
                    data-originaldate="1585157141"
                  ></time>
                </div>
              </div>

              <div class="social-network-macro">
                <ul class="share-list">
                  <li class="share-icon">
                    <a
                      class="link-icon"
                      title="Share on Twitter"
                      aria-label="Share on Twitter"
                      href="https://twitter.com/share?text=Coronavirus+cases+increase+to+more+than+1%2C600%2C+with+two+new+deaths+in+Florida&amp;url=https://www.miamiherald.com/news/coronavirus/article241489646.html"
                      onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;"
                    >
                      <span class="glyphicon glyphicon-twitter"></span>
                    </a>
                  </li>
                  <li class="share-icon">
                    <a
                      class="link-icon facebook-share"
                      title="Share on Facebook"
                      aria-label="Share on Facebook"
                      href="https://www.facebook.com/sharer/sharer.php?u=https://www.miamiherald.com/news/coronavirus/article241489646.html"
                      onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;"
                    >
                      <span class="glyphicon glyphicon-facebook"></span>
                    </a>
                  </li>
                  <li class="share-icon">
                    <a
                      class="link-icon"
                      title="Share by Email"
                      aria-label="Share by Email"
                      href="mailto:?subject=Coronavirus%20cases%20increase%20to%20more%20than%201%2C600%2C%20with%20two%20new%20deaths%20in%20Florida&amp;body=https://www.miamiherald.com/news/coronavirus/article241489646.html"
                    >
                      <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                  </li>
                  <li
                    class="share-icon extra-share-options-icon event-author-section"
                    role="button"
                  >
                    <div
                      class="extra-share-macro-container extra-share-author-section"
                    >
                      <div
                        class="extra-share-macro extra-share-macro-author-section"
                      >
                        <div class="hover-row"></div>
                        <div class="speech-bubble">
                          <ul
                            class="extra-share-options-list extra-share-options-container"
                          >
                            <li class="extra-share-option">
                              <a
                                title="Share on LinkedIn"
                                aria-label="Share on LinkedIn"
                                href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.miamiherald.com/news/coronavirus/article241489646.html&amp;title=Coronavirus cases increase to more than 1,600, with two new deaths in Florida"
                              >
                                <span
                                  class="glyphicon glyphicon-linkedin"
                                ></span>
                              </a>
                            </li>
                            <li class="extra-share-option">
                              <a
                                title="Share on Pinterest"
                                aria-label="Share on Pinterest"
                                href="https://www.pinterest.com/pin/create/button/?url=https://www.miamiherald.com/news/coronavirus/article241489646.html&amp;description=Coronavirus cases increase to more than 1,600, with two new deaths in Florida&amp;media=https://www.miamiherald.com/latest-news/uxlltz/picture241485211/alternates/LANDSCAPE_1140/lab.jpg"
                              >
                                <span
                                  class="glyphicon glyphicon-pinterest"
                                ></span>
                              </a>
                            </li>
                            <li class="extra-share-option">
                              <a
                                title="Share on Reddit"
                                aria-label="Share on Reddit"
                                href="https://www.reddit.com/submit?url=https://www.miamiherald.com/news/coronavirus/article241489646.html"
                              >
                                <span class="glyphicon glyphicon-reddit"></span>
                              </a>
                            </li>
                            <li class="extra-share-option">
                              <a
                                title="Print"
                                aria-label="Print"
                                href="javascript:window.print();"
                              >
                                <span class="glyphicon glyphicon-print"></span>
                              </a>
                            </li>
                          </ul>

                          <div
                            class="extra-share-options-container order-reprint-container"
                          >
                            <a
                              title="Reprints"
                              aria-label="Reprints"
                              href="https://www.mcclatchyreprints.com"
                            >
                              ORDER REPRINT
                              <span>→</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <a class="link-icon" title="more" aria-label="more">
                      <span class="glyphicon glyphicon-share"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </header>
          {{> @partial-block }}
        </article>
      </div>
    </section>
  </body>
</html>
