.fuse-read-more {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.fuse-read-more .card {
  --lc: #222;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}

.fuse-read-more .card {
  img {
    padding: 0;
  }
}

/*************
NAV BAR STYLES
**************/

.fuse-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: unset !important;
  height: 50px;
  background-color: #373737;
  padding: 0 15px;
  margin: 0 !important;
  box-sizing: border-box;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  transition: transform 200ms ease;
  transform: translateY(-60px);
  &--visible {
    transform: translateY(0);
  }
  .fuse-nav-logo {
    flex: 0 1 250px;
    max-width: 255px;
    padding-right: 5px;
  }
  .fuse-nav-logo > img {
    min-width: 100%;
    min-height: 100%;
    filter: invert(1) brightness(3) saturate(0);
  }
  nav {
    display: flex;
    flex: 0 0 auto;
    color: #fff;
    align-self: stretch;
  }
  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

.fuse-nav-item {
  font-family: 'McClatchy Sans', sans-serif;
  .nav-chapter {
    color: #acacac;
    font-weight: bold;
    font-size: 12px;
  }
  .nav-link,
  a {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 10px;
    color: #fff;
    transition: 200ms ease;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    span:first-child {
      transition: margin 200ms ease;
    }
    &.no-link {
      opacity: 0.5;
    }
  }
  a:hover {
    background: rgba(34, 34, 34, 0.5);
    border-bottom: 5px solid var(--lc);
    color: #fff !important;
  }
  a:hover span:first-child {
    margin-top: 5px;
  }
}

.fuse-nav-item .fuse-active-item {
  background: #222;
  color: #fff !important;
  border-bottom: 5px solid var(--lc);
  span:first-child {
    margin-top: 5px;
  }
}

.mob-read-more {
  color: #fff;
  font-family: 'McClatchy Sans', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
  > span.glyphicon {
    font-size: 20px;
    margin-left: 5px;
    color: var(--lc);
    background-color: #fff;
    border-radius: 100%;
    padding: 3px;
    transition: transform 250ms ease;
  }
  &--on {
    > span.glyphicon {
      transform: rotate(180deg);
    }
  }
}

@media (min-width: 768px) {
  .mob-read-more {
    display: none;
  }
}

@media (max-width: 767px) {
  .fuse-nav-bar .fuse-nav-logo {
    height: auto;
    max-width: 200px;
  }
  .fuse-nav-bar nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 50px;
    background-color: hsla(0, 0%, 10%, 0.97);
    max-height: 0;
    transition: max-height 375ms ease, visibility 0.2s 0.25s linear,
      opacity 0.2s 0.25s linear;
    overflow: hidden;
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    .fuse-nav-item a,
    .fuse-nav-item .nav-link {
      padding: 15px;
      color: #fff !important;
    }
    a:not(.fuse-active-item) {
      margin-left: 5px;
    }
    .fuse-active-item {
      border-left: 5px solid var(--lc);
      background: none;
      border-bottom: none;
      span {
        margin: 0;
      }
    }
    .fuse-nav-item a:hover {
      border-bottom: none;
      border-left: 5px solid var(--lc);
      margin-left: 0;
      span {
        margin: 0;
      }
    }
    &.nav-mob-shown {
      opacity: 1;
      visibility: visible;
      max-height: 100vh;
      transition: max-height 1s ease, visibility 0.1s 130ms linear,
        opacity 0.1s 130ms linear;
    }
  }
  .nav-link[data-title='Explore'] > .nav-chapter {
    display: none;
  }
}
