$accent-color: #0b67b2;

.content-body .fuse-read-more {
  display: block;
  background-color: #f4f4f4;
  padding: 15px 0;
  h5 {
    font-size: 1.3em;
  }
  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

.content-body .fuse-read-more .card {
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}

.content-body .fuse-read-more .card figure {
  display: block;
}
.content-body .fuse-read-more .card .card__info {
  max-width: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    font-family: "McClatchy Serif", serif;
    text-transform: none;
    margin: 0;
    font-size: 24px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.content-body .fuse-read-more > :not(.card) {
  padding: 0 15px;
}

.card__info .info__chapter {
  font-weight: 400;
    margin: 0;
    cursor: default;
    margin-bottom: 15px;
    padding: 5px 10px 3px;
    color: #222;
    border: solid 1px #989898;
    border-radius: 2px;
    background-color: #0000;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.2em;
    font-family: "McClatchy Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

/*************
NAV BAR STYLES
**************/

.fuse-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: unset !important;
  height: 55px;
  background-color: #373737;
  padding: 0 15px;
  margin: 0 !important;
  box-sizing: border-box;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  transition: transform 200ms ease;
  transform: translateY(-60px);
  &--visible {
    transform: translateY(0);
  }
  svg,
  .svg,
  .fuse-nav-logo {
    width: 150px;
    filter: invert(1) brightness(3) saturate(0);
  }
  nav {
    display: flex;
    color: #fff;
    align-self: stretch;
  }
  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

.fuse-nav-item {
  font-family: "McClatchy Sans", sans-serif;
  .chpt {
    color: #acacac;
    font-weight: bold;
    font-size: 12px;
  }
  a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #cacaca !important;
    transition: 200ms ease;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    span:not(.chpt) {
      transition: margin 200ms ease;
    }
  }
  a:hover {
    background: rgba(34, 34, 34, 0.5);
    border-bottom: 5px solid $accent-color;
    color: #fff !important;
  }
  a:hover span:not(.chpt) {
    margin-top: 5px;
  }
}

a.fuse-active-item {
  background: #222;
  color: #fff !important;
  border-bottom: 5px solid $accent-color;
  span {
    margin-top: 5px;
  }
}

.mob-read-more {
  color: #fff;
  font-family: "McClatchy Sans", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  > span.glyphicon {
    font-size: 20px;
    margin-left: 5px;
    color: $accent-color;
    background-color: #fff;
    border-radius: 100%;
    padding: 3px;
    transition: transform 250ms ease;
  }
  &--on {
    > span.glyphicon {
      transform: rotate(180deg);
    }
  }
}

@media (min-width: 600px) {
  .fuse-read-more h5 {
    font-size: 1.3em;
  }
  .content-body .fuse-read-more .card {
    margin: 15px;
    align-items: center;
  }
  .content-body .embed-infographic > .fuse-read-more {
    max-width: 900px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    #readMore {
      text-align: center;
      font-weight: bold;
      padding: 0 15px;
      flex: 1 100%;
    }
  }
  .content-body .fuse-read-more .card {
    flex: 0 1 calc(50% - 30px);
    flex-flow: column;
    justify-content: center;
    figure,
    .card__info {
      max-width: unset !important;
    }
  }
}

@media (min-width: 768px) {
  .mob-read-more {
    display: none;
  }
}

@media (max-width: 767px) {
  .fuse-nav-bar nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 55px;
    background-color: hsla(0, 0%, 10%, .96);
    max-height: 0;
    transition: max-height 1s ease, visibility .1s .6s linear, opacity .1s .6s linear;
    overflow: hidden;
    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    .fuse-nav-item a {
      padding: 15px;
      color: #fff !important;
    }
    a:not(.fuse-active-item) {
      margin-left: 5px;
    }
    a.fuse-active-item {
      border-left: 5px solid $accent-color;
      background: hsla(0, 0%, 13%, 0.8);
      border-bottom: none;
      span {
        margin: 0;
      }
    }
    &.nav-mob-shown {
      opacity: 1;
      visibility: visible;
      max-height: 100vh;
      transition: max-height 1.5s ease, visibility .1s 130ms linear, opacity .1s 130ms linear;
    }

  }
}
