@import 'base/fuse';

.lead-asset {
    width: 100vw;
    position: relative;
    img {
        width: 100vw;
    }
    h1 {
        font-size: 9vw;
        color: #fff;
        position: absolute;
        bottom: 20%;
        left: 5%;
    }
}