// Saratoga Fuse skin import. Up to date remote
@import url(https://media.mcclatchy.com/static/fuse/saratoga.css);

@import 'base/fuse-nav';

.content-body {
  background-color: unset;
}

.embed-infographic .byline-center {
  text-align: center;
}

/******************
* SHARE ICON STYLES
*******************/
.share-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .share-link {
    font-size: 25px;
    color: #222;
    transition: color 0.15s;
    text-decoration: none;
    margin-right: 10px;
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}